.winners-table {
  font-size: 1.2em;
}

.winners-thead {
  color: black;
  background-color: var(--btn-primary);

  & th {
    cursor: pointer;
    padding: 5px 10px;

    &.sort-ASC::after {
      content: '\2191';
    }

    &.sort-DESC::after {
      content: '\2193';
    }
  }
}
