@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

:root {
  --btn-primary: lightgreen;
  --btn-primary-dark: limegreen;
  --btn-secondary: lightcyan;
  --btn-secondary-dark: lightblue;
  --success: green;
  --danger: crimson;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cute Font', sans-serif;
  background: #000;
  font-size: 25px;
}
